body {
  font-family: $body-font-family;
}

h1,
h2,
h3,
.btn,
.nav-link,
.feed-name,
.navbar-brand,
.card-title {
  font-style: italic;
}

h1,
h2,
h3,
.btn,
.feed-name {
  font-weight: 800;
}

.nav-link,
option,
.viewMoreButton,
.form-select,
.create-listing__content .btn {
  font-weight: 400;
}

.comment,
.description,
.btn,
.add-comment .btn,
.add-comment .form-control {
  font-size: 16px;
}

.viewMoreButton,
.description,
.create-listing__content .btn {
  font-size: 14px;
}
