.listings-intro {
  padding-top: 85px;
}

.content-wrapper {
  padding-top: 110px;
}

.account-wrapper {
  padding-top: 30px;
}

// .follow-button {
//   width: 154px;
// }

// .profile-image,
// .user-img {
//   width: 65px;
//   height: 65px;
// }

.profile-image {
  max-width: 130px;
}

// .comment {
//   border-radius: $btn-border-radius;
// }

.content-wrapper .img-fluid {
  border-radius: $listing-images-border-radius;
}

// .nameAndTitleDiv {
//   overflow: hidden;
// }

// #postContainer .feed-post {
//   margin-top: 30px;
// }

// .buttonDiv {
//   grid-template-columns: 94px 94px auto;
// }

// .buttonDiv small {
//   grid-column: 4;
// }

.viewMoreButton {
  max-width: 94px;
}

// .commentCount,
// .reactionsCount {
//   max-width: 50px;
// }

.navbar-brand img {
  max-width: 170px;
}

.list-group-item-1 {
  height: 60px;
}

.list-group-item-2 {
  height: 80px;
}

.content-wrapper {
  max-width: 470px;
}

.modal-dialog {
  margin-top: 155px;
}
// .card-col {
//   padding: 0;
// }

// .card {
//   max-width: 190px;
// }

// .card-col {
//   max-width: 200px;
// }
